/*-------color variables----------*/
$color-1:rgb(255, 255, 255);
$color-2:rgb(0, 0, 0);
$color-3:gray;
$color-4:red;
$color-5:#ffb300;
$color-6:#1a237e;
$colo-7:#f4511e;
$color-8:#0099ff;
$color-9:rgb(180, 176, 176);
$color-10:#f43f3f;

/*------font size variables------------*/
$font-1:12px;
$font-2:14px;
$font-3:16px;
$font-4:18px;
$font-5:20px;
$font-6:22px;
$font-7:24px;
/*------font size variables------------*/

/*----bootstrep customize css-----*/
$container-one: 1280px;
$container-two: 95% !important;
$container-three: 90% !important;
$container-four: 80% !important;
$container-five: 85% !important;
/*------background--------*/


/*-----z index------*/
$z-index-1:1;
/*-------border radious------*/
$border-r-1:5px;
$border-r-2:10px;
$border-r-3:15px;
$border-r-4:20px;
$border-r-5:25px;
